.containerTitleBar {
  position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
  border-bottom: 1px #fff solid;
  // border-top: 1px #ccc solid;
  &:after {
    display: block;
    content: "";
    position: absolute;
    bottom: 0;
    width: 270px;
    border-bottom: 1px #ccc solid;
  }
  margin-bottom: 5px;
	button {
    /* set icon className is not workable on global overwrite...so set style attr instead */
    border: none;
    background: transparent;
    padding: 5px;
    margin: 3px 0px;
    &:hover {
      background-color: #ddd;
    }
    &:focus{
      outline: none;
    }
	}
  input {
    flex: 1;
    height:25px;
    border: 0;
    background-color: transparent;
  }
}