.box {
  border-top: 1px #fff solid;
  border-bottom: 1px #ded8d8 solid;  
  display: flex;
  color: #333;
  font-size: 12px;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  > span {
    display: flex;
    flex: 1;
    align-items: left;
    overflow: hidden;
    height: 60px;
    img {
      width: 80px;
      margin-right: 8px;
    }
  }
  .navGroup {
    display: flex;
    height: 50px;
    flex-direction: column;
    justify-content: space-between;
    
    .btn {
      &:first-child {
        background: transparent;
        color: #333;
        padding-right: 10px;
        align-self: flex-end;
      }
      background: #928585;
      align-self: stretch;
      color: #fff;
      font-size: 10px;
      display: inline-block;
      padding: 2px 5px;
      cursor: pointer;
      border: 0;
      height: 20px;
    }
  }
}
