.containerWrapper {
  padding-left: 10px;
  .container {
    // margin: 0;
    // width: 270px;
    height: 325px;
    overflow-y: auto;
    overflow-x: hidden;
    .listDragDrop {
      // padding: 0 10px 0 0;
      // width: 265px;
    }
  }
}
