.seekBarContainer {
  margin: 0 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  input {
    margin: 0;
    padding: 0;
  }
  span {
    display: inline-block;
    margin-left: 5px;
    font-size: 10px;
    color: #333;
    white-space: nowrap;
  }
}
@mixin rangeReset() {
  -webkit-appearance: none;
  width: 100%;
  height: 12px;
  margin: 0;
  background-color: transparent;
  &:focus {
    outline: none;
  }
  &::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    position: relative;
    z-index: 1;
    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 0; left: 0;
      width: inherit; height: inherit;
      border-radius: inherit;
      z-index: -1;
    }
  }
  &::-webkit-slider-container {
    background-size: inherit;
  }
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    position: relative;
    z-index: -1;
    &::before {
      content: "";
      transform: translateX(-100%);
      display: block;
      z-index: -1;
    }
    border-radius: 50%;
    border: 0;
    transform: scale(1);
    transform-origin: 50% 50%;
    transition: transform 150ms ease-out;
    &:hover,
    &:active {
      transform: scale(1.25);
    }
  }
}
      
input[type="range"][typeStyle="TIME"] {
  @include rangeReset();

  $track-height: 8px;
 
  $track-bg-color: #e8e3e3;
  $track-border-color: #c5baba;
  
  $thumb-height: 10px;
  $thumb-width: 10px;
  $thumb-color: #ae9e9e;

  &::-webkit-slider-runnable-track {
    height: $track-height;
    background: {
      color: $track-bg-color;
    }
    border-radius: $track-height/2;
    border: 1px $track-border-color solid;
  }

  &::-webkit-slider-thumb {
    top: -2px;
    width: $thumb-width;
    height: $thumb-height;
    background-color: #fff;
    border: 2px $thumb-color solid;
  }
}

input[type="range"][typeStyle="VOLUME"] {
  @include rangeReset();

  $track-height: 1px;
  $track-border-color: #d1c7c7;
  
  $thumb-height: 10px;
  $thumb-width: 10px;
  $thumb-color: #ae9e9e;

  &::-webkit-slider-runnable-track {
    height: $track-height;
    border: 1px $track-border-color solid;
  }

  &::-webkit-slider-thumb {
    top: -5px;
    width: $thumb-width;
    height: $thumb-height;
    background-color: #fff;
    border: 2px $thumb-color solid;
  }
}
