.containerNavBar {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	button {
    /* set icon className is not workable on global overwrite...so set style attr instead */
    border: none;
    background: transparent;
    padding: 5px;
    margin: 3px 0px;
    &:hover {
      background-color: #ddd;
    }
    &:focus{
      outline: none;
    }
	}
  > div {
    flex: 1;
  }
}