:global html, :global body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
:global #app {
  color: #fff;
  width: 300px;
  height: 410px;
  overflow: hidden;
  font-family: Segoe UI;
  /*display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;*/
  background: #efefef;
  border-radius: 5px;
  padding: 40px 10px 0 0;
}

:global #close {
  color: #666;
  background: transparent;
  border: none;
  position: absolute;
  top: 15px;
  right: 25px;
  font-family: Arial;
  font-size: 16px;
  opacity: 0.6;
  font-weight: bold;
  text-decoration: none;
}
:global .container {
  width: 280px;
  height: 380px;
  padding:  0 10px;
  overflow-y: auto;
}
/* app scroller */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-button {
    background-size: 100%;
    height: 0px;
    width: 0px;
    -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.2);
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  background: rgba(0,0,0,0.08);
}
::-webkit-scrollbar-thumb{
  border-radius: 10px;
  background: rgba(0,0,0,0.08);
}
::-webkit-scrollbar-thumb:hover{
  background: rgba(0,0,0,0.2);
}
::-webkit-scrollbar-thumb:active{
  background: rgba(0,0,0,.5);
}
/* app scroller end */
