:global body {
  margin: 0;
  padding: 0;

}
:global #app {
  color: #fff;
  width: 300px;
  height: 400px;
  font-family: Segoe UI;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  background: #8aba87;
  border-radius: 5px;
}

:global #close {
  color: #fff;
  position: absolute;
  top: 15px;
  right: 15px;
  font-family: Arial;
  font-size: 16px;
  opacity: 0.6;
  font-weight: bold;
  text-decoration: none;
}


